@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #e8092e;
  --border-color:#e0e0e04d;
  --border:#e1e1e1;
  --font-yantramanav: 'Yantramanav', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);
  --color-theam: var(--primary-color);
  --color-borderColor: var(--border-color);
  --color-border: var(--border);
  --font-yantramanav: var(--font-yantramanav);
}

/* globals.css */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #e8092e; /* your theme color */
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

/* Optional for Firefox */
* {
  scrollbar-color: #e8092e #f1f1f1;
  scrollbar-width: thin;
}



.container
{
  width: 100%;
  max-width: 1290px;
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: 'Yantramanav', sans-serif;
}

.footer
{
  height: auto;
  width: 100%;
  background-color: #171717;
}